<h1 style="background-color: black; ">About Me</h1>
<style>
.div1{
    height: 343px;
    background-color: rgba(0, 0, 0, 0.358);
    width: 350px;
    border-radius: 10%;
    margin-left: 30px;
}

.div1:hover{
    box-shadow: 0 0 0 10px white;
transition: .5s ease;
border-radius: 90%;
opacity: 0.5;

}

.div2{
height: 800px;
margin-top: -400px;
width: 410px;
background-color: rgba(255, 255, 255, 0.708);
}

body{
background-image: url(https://i.pinimg.com/564x/e1/dd/89/e1dd89bf35a5563bc28d8322a7a3177a.jpg);

}

.p{
font-size: 200%;
color: rgb(0, 0, 0);
margin-top: -370px;
font-family: monospace;
font-weight: bolder;
margin-left: 5px;
width: 400px;
}

.p:hover{

    box-shadow: 0 0 0 5px black;
transition: .5s ease;

}


</style>

<body>
    <div class="div1">
        <img style="width: 300px; margin-left: 20px; margin-top: 20px; border-radius: 80%;" src="https://i.pinimg.com/736x/85/46/40/854640b184b50671c17ac3a971ab025c.jpg">
    </div>

<div class="div2">

</div>
<p class="p">Churchill Duane V. Daus</p>
<p style="margin-top: 20px;" class="p">20 Years Old <br> Sengle gapangeta deay :P</p>

<div></div>

</body>