<h1>PORTFOLIO</h1>

<style>

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }    
}

    
.title{
margin-left: 550px;
font-family: monospace;
font-size: 50px;
font-weight: bolder;

}

.description{
    margin-left: 540px;
    font-family: monospace;
    color: aliceblue;
    margin-top: -450px;
    font-size: 20px;
}

h1{
color: aliceblue;

}

.div1{
background-color: rgba(0, 0, 0, 0.934);
width: 1100px;
height: 700px;

}

.container {
height: 650px;
background-color:rgba(255, 255, 255, 0.16) ;
margin-top: -600px;
width: 1100px;
}

body{
    background-image: url(https://i.pinimg.com/564x/b9/ae/5e/b9ae5ee7d5745afbabfeacc8362c5530.jpg);
}

</style>

<body>
    <div class="div1">
        <img class="floating" style="height: 500px; width: 500px; margin-top:100px; border-radius: 50%;" src="https://i.pinimg.com/736x/38/3f/6a/383f6a35a0414ae82ed8ed2c380ae488.jpg">
        <div class="container">  <h1 class="title floating">Hi,<br> I'm Churchill Duane </h1>
        </div>
        </div>

        <div class="description">
            <p> Welcome to my Online Portfolio! I am Churchill, an <br> IT student and a fake web dev. <br> Here lies my Activities.   </p>
        </div>
</body>
