
<h1 class="cholox-h1">My Projects</h1>

<style>
.cholox-h1{
    font-family: monospace;
    font-weight: 1000;
    font-size: 400%;
    background-color: rgba(255, 255, 255, 0.274);
}
.activity {
transition: .5s ease;
border-radius: 20%;
margin-left: 12%;
width: 25%;
margin-top: 10%;
}

.activity:hover{
box-shadow: 0 0 0 10px white;
transition: .5s ease;
border-radius: 90%;
opacity: 0.5;
}
 
body{
background-image: url(https://i.pinimg.com/564x/c3/e4/41/c3e4417586719d5a0fd2147bdab61091.jpg);

}

.div{
height: 765px;
background-color:rgba(255, 255, 255, 0.16) ;
margin-top: 1%;
text-align: center;

}

.activity-container {
            display: inline-block; /* Set display to inline-block for horizontal alignment */
            margin: 20px; /* Add some margin for spacing between images */
            margin-top: 230px;
        }

        .activity {
            max-width: 100%; /* Ensure images don't exceed their container width */
            height: auto; /* Maintain aspect ratio */
        }

        .p {
            margin-left: 5%;
        }

</style>

<body>
    <div class="div">
        <div class="div">
            <div class="activity-container">
                <a href="https://github.com/Dsovichy/Daus.CD-IT24.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/736x/cf/73/37/cf73378fca5dbc4181069c47d8d4e53f.jpg" class="activity">
                </a>
                <p class="p">Activity 1</p>
            </div>
    
            <div class="activity-container">
                <a href="https://github.com/Dsovichy/IT24.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/564x/9c/83/2c/9c832ce085c10fa6e51b057a2cb4df91.jpg" class="activity">
                </a>
                <p class="p">Activity 2</p>
            </div>
    
            <div class="activity-container">
                <a href="https://github.com/Dsovichy/CHURCHILLDUANE.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/564x/a6/c5/b6/a6c5b6a6ef238dfd79e6f8a6078c9021.jpg" class="activity">
                </a>
                <p class="p">Activity 3</p>
            </div>
    
            <div class="activity-container">
                <a href="https://github.com/Dsovichy/it24-main.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/564x/49/bb/b1/49bbb1b40807a16f237ee877f2d6fc30.jpg" class="activity">
                </a>
                <p class="p">Activity 4</p>
            </div>

            <div class="activity-container">
                <a href="https://github.com/Dsovichy/spa-jquery.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/736x/91/2a/d3/912ad31341bece47ba5351be9be43e4c.jpg" class="activity">
                </a>
                <p class="p">Activity 5</p>
            </div>

            <div class="activity-container">
                <a href="https://github.com/Dsovichy/Portfolio.git">
                    <img style="width: 180px;" src="https://i.pinimg.com/564x/f1/7a/8d/f17a8d55ab71519eaf3acfdcbdcb4f74.jpg" class="activity">
                </a>
                <p class="p">Activity 6</p>
            </div>

    </div>


</body>

