
<h1 class="cholox-h1">My Projects</h1>

<style>
.cholox-h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    background-color: rgba(0, 0, 0, 0.319);
}
.activity {
transition: .5s ease;
border-radius: 20%;
margin-left: 12%;
width: 25%;
margin-top: 10%;
}

.activity:hover{
box-shadow: 0 0 0 10px white;
transition: .5s ease;
border-radius: 90%;
opacity: 0.5;
}
 
body{
background-image: url(https://i.pinimg.com/originals/a7/fe/d7/a7fed72aa0bb9cdb8ce085ceb48abea5.gif);
background-repeat: no-repeat;
background-size: cover;
}

.div{
height: 765px;
background-color:rgba(0, 0, 0, 0.233) ;
margin-top: 1%;
text-align: center;

}

.activity-container {
            display: inline-block; /* Set display to inline-block for horizontal alignment */
            margin: 10px; /* Add some margin for spacing between images */
        }

        .activity {
            max-width: 100%; /* Ensure images don't exceed their container width */
            height: auto; /* Maintain aspect ratio */
        }

        .p {
            margin-left: 5%;
        }

</style>

<body>
    <div class="div">
        <div class="div">
            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 1</p>
            </div>
    
            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 2</p>
            </div>
    
            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 3</p>
            </div>
    
            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 4</p>
            </div>

            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 5</p>
            </div>

            <div class="activity-container">
                <a href="https://youtu.be/hLvWy2b857I?si=eM_nqjKlgEvHataC">
                    <img src="https://i.pinimg.com/564x/ba/d6/c1/bad6c141e8cc3060144990eb3d6c0543.jpg" class="activity">
                </a>
                <p class="p">Activity 6</p>
            </div>

    </div>


</body>

